.innerSidebar {
  position: fixed;
  top: 0;
  left: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.inner {
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}
.subTitle {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  margin-bottom: 32px;
}

.navItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #9fb5b0;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navItem::before {
  content: "";
  display: inline-block;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  margin-right: 20px;
  background: #9fb5b0;
  transition: width 0.3s ease;
}

.navItem:hover {
  color: #e6f2ef;
}

.navItem:hover::before {
  width: 60px;
}

.navItemActive {
  color: #e6f2ef;
}

.navItemActive::before {
  width: 60px;
  background: #e6f2ef;
}
